.container {
  width: 100%;
  flex: 1;
  height: auto;
  padding: 20px;
  background-color: #fefaf6;
  color: #000;
  transition: left 0.3s ease;
  z-index: 999;
  box-shadow: -13px 2px 34px -3px rgba(0, 0, 0, 0.1);
}

.cartClose {
  display: none;
}

.closeBtn {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
}
